body {
    background-color: #ffffff; /* 默认浅色模式为纯白色 */
    color: #333;
    font-family: Arial, sans-serif, "DengXian", "Microsoft YaHei";
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* 顶部留出导航栏空间 */
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.8); /* 半透明背景颜色 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none; /* 去掉导航栏中的下划线 */
}
.navbar a.active {
    color: #004E97; /* 选中状态为深蓝色 */
}

.navbar a:hover {
    color: #004E97;
}

/* 按钮和链接样式 */
.theme-icon,
.navbar a {
    color: #fff;
    transition: color 0.3s; /* 平滑过渡效果 */
}

/* 悬停时变为 #004E97 */
.theme-icon:hover,
.navbar a:hover {
    color: #004E97;
}

/* 按钮选中时（聚焦或激活）显示为蓝色 */
.theme-icon:focus,
.theme-icon:active,
.navbar a:focus,
.navbar a:active {
    color: #004E97;
}

.navbar .right-align {
    margin-left: auto;
    padding-right: 20px; /* 与正文相同的右边距 */
}

.theme-icon {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    opacity: 1; /* 保持按钮完全不透明 */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px; /* 设置页面内容的最大宽度 */
    width: 100%; /* 使内容占满整个可用宽度 */
    margin: 0 auto; /* 自动设置左右边距 */
}

.text-content {
    max-width: 600px;
    margin-right: 20px;
    flex: 1;
}

.image-content {
    flex-shrink: 0;
}

.rounded-image {
    border-radius: 10px;
    width: 280px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 正文中的链接样式 */
.text-content a {
    color: #004E97; /* 设置正文链接的颜色 */
    text-decoration: none; /* 去掉下划线 */
}

.text-content a:hover {
    text-decoration: underline; /* 悬停时加下划线 */
}

/* 深色模式：纯黑背景 */
body.dark-mode {
    background-color: #000000; /* 设置为纯黑色 */
    color: #ffffff; /* 文字颜色变为白色 */
}

@media (prefers-color-scheme: dark) {
    body.system-mode {
        background-color: #000000; /* 系统跟随下的深色模式 */
        color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    body.system-mode {
        background-color: #ffffff; /* 系统跟随下的浅色模式 */
        color: #333;
    }
}
